.main{
  width: 550px;
  height: 70px;
  display: flex;
  
}
.block-1{
    -ms-flex: 1;
    background-color: rgb(125, 243, 125);
    flex: 1;
   
}
.main ,.block-1 h3{
    color: rgb(56, 56, 56);
}
.main1{
 width: 300px;
  height: 300px;
  display: flex;
}
.block-2{
  -ms-flex: 1; 
  flex: 1;
  background-color: rgb(241, 241, 150);
}
.flex-container {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(246, 255, 120);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px  20px 1;
    width: 100px;
    padding: 40px;
  }
  
  .flex-container > div {
    
    background-color: #f1f1f1;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.flex-container-1 {
    display: grid;
    grid-gap: 10px;
    background-color: lightcoral;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px  20px 1;
    width: 100px;
    padding: 40px;
    margin-left: 190PX;
    margin-top: -240PX;
  }
  
  .flex-container-1 > div {
    
    background-color: #f1f1f1;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.main-2{
  width: 150px;
  height: 330px;
  display: flex;
  margin-left: 390px;
  margin-top: -237px;
}
.main-2,.block-2{
    -ms-flex: 1;
    background-color: rgb(167, 241, 241);
    flex: 1;
}
.main-3{
    width: 370px;
    height: 90px;
    display: flex;
    margin-top: -105px;
}
.main-3,.block-3{
    -ms-flex: 1;
    background-color: rgb(252, 127, 82);
    flex: 1;

    
}